#top_btn{
    /* border-radius:0%; */
    transform: rotate(45deg);
    display:block;
    position:fixed;
    bottom: 40px;
    right: 30px;
    height:40px;
    width:40px;
    background-color:var(--background-color);
    border: 4px solid var(--text-color);
    opacity: 40%;
    transition: background-color 300ms, border-color 300ms, opacity 300ms/*, border-radius 300ms*/ linear;
}

#top_btn:hover{
    /* border-radius:80%; */
    opacity:100%;
    border-color:var(--highlight-color);
    background-color:var(--text-color);
}

#triangle{
    opacity:40%;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-bottom:30px solid var(--highlight-color);
    border-bottom-left-radius:50%;  
    border-bottom-right-radius:50%;
    width:0;
    height:0;
    position:absolute;
    left:3px;
    top:3px;
    transform: rotate(-45deg);
    transition: border-bottom-color 300ms, opacity 300ms linear;
}

#top_btn:hover #triangle{
    opacity:100%;
    border-bottom-color:var(--main-color);
    transition: border-bottom-color 300ms, opacity 300ms linear;
}