<!DOCTYPE html>
<html lang="en">

<head>
    <title>Phone Buddy - 404 Error</title>
    <meta name="keywords"
        content="phone buddy, smartphone accesories, phone case, screen protector, earbuds, phone holder, earphones, selfie stick, earbuds, screen protector, wireless charger, charging cable">
    <meta name="description"
        content="Get the best quality accesories you cand find for your smartphone right here, with just a simple click!">
    <%- include("../fragmente/head.ejs"); %>
</head>

<body>
    <%- include("../fragmente/header.ejs"); %>
    <main><br><br>
        <div style="text-align:center; left:50%; width:100%;height:50%;"><img style="border:transparent;"src="/Sources/pictures/404.png"><br><br>
        <h1> 404 - Page Not Found </h1></div>
        <br><br><br><br><br><br>
    </main>
    <%- include("../fragmente/footer.ejs"); %>
    
</body>

</html>