<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Phone Buddy - Shopping Cart">
        <meta name="keywords" content="Phone Buddy, cart, shopping cart">
        <link rel="stylesheet" href="/Sources/css/cos-virtual.css" type="text/css" />
        <title>Phone Buddy - Shopping Cart</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/Sources/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>

        <div id="total-price">
            <span style="font-weight:bold;"> Total Price: </span> 
        </div>
        
        <button id="cumpara">
            Buy
        </button>        
    
    </main>
    <%- include("../fragmente/footer") %>
    </body>
</html>