<footer>
    <hr>
    <a href="#" title="Go back to top" id="top_btn">
        <div id="triangle"></div>
    </a>
    <address>
        <p>
            Phone number: <a href="tel:+40719732468">0719732468&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-phone fa-shake"></i></a> <small>(click to call)</small><br>
            Address: <a
                href="https://www.google.ro/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83+-+Universitatea+din+Bucure%C8%99ti/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867"
                target="_blank">20 Ember Street, Sector 1, Bucharest, Romania &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-location-dot fa-bounce"></i></a> <small>(click to open
                location)</small><br>
            Email address: <a href="mailto:pbuddy@gmail.com">pbuddy@gmail.com&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-envelope"></i></a> <small>(click to compose new
                email)</small><br>
            Send us a message on <a href="https://wa.me/40719732468">WhatsApp&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-whatsapp"></i></a> <small>(click to open WhatsApp
                conversation)</small>
        </p>
    </address>
    <p>
        <small>2022 Phone Buddy Co. Copyright&copy;<br>
            All rights reserved.</small>
    </p>
    <p><small>Webpage created on <time datetime="2017-06-16">16<sup>th</sup> June 2017</time>.</small></p>
</footer>