/*facem vizibil iconul de hamburger meniu*/

#hamburger{
    display:block;
}
/* implicit meniul e ascuns*/
ul.meniu{
    display:none;
    position:absolute;
    width:120%;
    left:0px;
}

header{
    margin-left:0;
    margin-right:0;
    margin-bottom:13em;
}

nav{
    background-color:rgba(255, 255, 255, 0.247);
    width:100%;
}

nav img{
    border-color:transparent;
}

/*aici facem vizibil meniul cand faem click pe hamburger meniu*/
#ch-menu:checked+ul.meniu{
    display: block;
    z-index: 2;
    position: relative;
    left:0em;
    top:0.5em;
    transform-origin: 0 0;
    animation-name: aparitie_meniu_p;
    animation-iteration-count:1;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    width:100%;
    margin-bottom:100px;
}
#ch-menu:checked+ul.meniu>li>div,#ch-menu:checked+ul.meniu>li>a{
    background-color:rgba(255, 255, 255, 0.247);
    z-index: 2;
    position: relative;
    transform-origin: 50% 50%;
    animation-name: aparitie_meniu_p_btn;
    animation-iteration-count:1;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}
/*optiunile se intind pe toata latimea containerului*/
nav ul.meniu li{
    width:100%;
}

nav ul.meniu >li li a:before{
    display:none;
}

nav ul.meniu>li:nth-child(2){
    background-color:rgba(255, 255, 255, 0.270);
}

nav ul.meniu>li:nth-child(3){
    background-color:rgba(255, 255, 255, 0.270);
}

nav ul.meniu>li:nth-child(4){
    background-color:rgba(255, 255, 255, 0.270);
}

/*meniul sa vina deasupra continutul de mai jos, fara sa impinga continutul*/
nav ul.meniu>li ul{
    position:absolute;
    width:100%;
    z-index:200;
    transform:scale(1,1);
    transition:transform 300ms linear;
}

#ch-menu:checked+ul.meniu>li ul>*{
    position:relative;
    z-index:200;
}
nav ul.meniu>li:hover>ul{
    z-index:200;
    transform:scale(0,0);
}

nav ul.menu>li>ul>li div:hover, nav ul.meniu>li>ul>li a:hover{
    box-shadow:0 0 10px 7px var(--another-color) inset;
}

nav ul.menu>li>ul>li div, nav ul.meniu>li>ul>li a{
    transition:box-shadow 300ms linear;
}


@keyframes aparitie_meniu_p{
    0%{
        transform:scale(0,0);
    } 
	100%{
    	transform:scale(1,1);
    }
}

@keyframes aparitie_meniu_p_btn{
    0%{
        transform:scale(0,0);
    } 
	100%{
    	transform:scale(1,1);
    }
}